div(class='ui segment event' id=`event-${event.id}`)
    div(class='ui two column stackable grid')
        div(class='ui thirteen wide column')
            h4= event.name
            p.
                #[span(class='descriptor') Location]: #{event.location}
            p.
                #[span(class='descriptor') Date]: #{moment(event.date).format('dddd, MMMM Do YYYY [at] h:mm a')}
        div(class='ui three wide middle aligned column')
            button(class='ui button fluid orange' id=`event-button-${event.id}`) View
            include ../modals/Details